@import "../style/main.css";

body {
  background-color: #f7f7fa;
}

#timeline {
  width: 628px;
  padding: 53px;
  font-style: normal;
  background: #fff;
  position: relative;
  border-radius: 32px;
  box-shadow: 0px 34px 64px rgba(96, 103, 159, 0.2);
}

#timeline::after {
  top: -72px;
  left: -72px;
  content: "";
  z-index: -1;
  right: 280px;
  bottom: 308px;
  display: block;
  position: absolute;
  border-radius: 32px;
  background-color: #60679f;
}

#timeline > .title {
  font-size: 32px;
  color: #10153e;
  font-weight: 700;
  line-height: 40px;
  font-family: "Merriweather", serif;
}

#timeline > .card {
  padding: 25px;
  display: flex;
  margin: 32px 0;
  align-items: center;
  border-radius: 16px;
  background: #f7f7fa;
  border: 1px solid #e3e5f1;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

#timeline > .card h3 {
  display: flex;
  font-size: 14px;
  color: #60679f;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 8px;
  align-items: center;
  text-transform: uppercase;
}

#timeline > .card h3 > img {
  margin-right: 4px;
}

#timeline > .card p {
  font-size: 16px;
  color: #10153e;
  font-weight: 400;
  line-height: 24px;
}

#timeline > .list {
  display: flex;
  position: relative;
}

#timeline > .list > .line {
  left: 9px;
  width: 1px;
  height: 100%;
  margin-top: 2px;
  position: absolute;
  background-color: #60679f;
}

#timeline > .list > ul {
  margin-left: 33px;
}

#timeline > .list li {
  margin-bottom: 20px;
}

#timeline > .list h3 {
  font-size: 16px;
  font-weight: 400;
  color: #10153e;
  line-height: 24px;
  margin-bottom: 8px;
}

#timeline > .list h3::before {
  left: 0;
  content: "";
  width: 19px;
  height: 19px;
  display: block;
  margin-top: 2px;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #60679f;
  background-color: #f7f7fa;
}

#timeline > .list .active::before {
  border: 4px solid #60679f;
}

#timeline > .list p {
  font-size: 12px;
  font-weight: 400;
  color: #60679f;
  line-height: 18px;
}
