@import "../assets/style/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

body {
  display: grid;
  height: 100vh;
  place-content: center;
  background: #ebebff;
}

.list {
  width: 1102px;
  background: #fff;
  border-radius: 36px;
  box-sizing: border-box;
  padding: 126px 126px 120px 120px;
  box-shadow: 0px 54px 90px -40px rgba(251, 132, 132, 0.25);
}

.list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__header > .search {
  width: 282px;
  padding: 16px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #c5c5f8;
  font-family: "Roboto", sans-serif;
}

.list__header > .search input {
  opacity: 0.6;
  border: none;
  outline: none;
  font-size: 16px;
  margin-left: 8px;
  font-weight: 400;
  color: #0e0d46;
  line-height: 19px;
}

.list__header > .info {
  display: flex;
  align-items: center;
}

.list__header > .info img {
  margin-right: 34px;
}

.list__header > .info span {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  padding: 9px 17px;
  line-height: 54px;
  text-align: center;
  border-radius: 50%;
  font-style: normal;
  background-color: #8598fc;
  font-family: "Poppins" sans-serif;
}

.list__content > .title {
  font-size: 32px;
  color: #0e0d46;
  font-weight: 700;
  line-height: 40px;
  font-style: normal;
  margin: 33px 0 20px;
  font-family: "Merriweather";
}

.list__content li {
  display: flex;
  padding: 20px;
  cursor: pointer;
  align-items: center;
  border-radius: 24px;
  justify-content: space-between;
  transition: background-color 0.3s;
}

.list__content li:hover {
  background-color: #faf2fe;
}

.list__content li > .container {
  display: flex;
  align-items: center;
}

.list__content li > .container > .logo {
  width: 72px;
  height: 72px;
  display: grid;
  margin-right: 16px;
  border-radius: 50%;
  place-content: center;
  background-color: #fff;
}

.list__content li > .container h2 {
  font-size: 24px;
  color: #0e0d46;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 4px;
  font-family: "Merriweather";
}

.list__content li > .container p {
  opacity: 0.7;
  font-size: 16px;
  color: #0e0d46;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  font-family: "Poppins" sans-serif;
}

.list__content li > .accounts {
  width: 150px;
  font-size: 16px;
  font-weight: 500;
  color: #0e0d46;
  line-height: 24px;
  font-style: normal;
  font-family: "Poppins" sans-serif;
}

.list__content li > .more {
  width: 40px;
  height: 40px;
  display: grid;
  border-radius: 50%;
  place-content: center;
  background-color: #fff;
}
