body {
  background-color: #a3c5a8;
}
li {
  border: 1px solid #fff;
  background-color: green;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.green {
  border: 4px solid green;
}
